*{
margin:0px;
padding:0px;
}
img{border:0px;}

ul{
    margin: 0;
    padding: 0;
}

#wrapper{
    
    
}
#user-bar{
    
    background: #5c5e60;
    padding: 10px 0;
}
.tab{
    
    min-height: 6px;
    margin-top: 1px;
    background: #a65019;
    
}
#navigation{
    
    padding: 15px ;
}
#navigation ul{
    margin-left: 25%;
    
}
#navigation ul li{
    display: inline;
    list-style: none;
    
}
#navigation ul li a{
    text-decoration: none;
    color: #666666;
    padding: 0 15px;
    font-size: 16px;
}
#navigation ul li a:hover{
    text-decoration: underline;
    
}
.main-img{
    padding-right: 20px;
   width: 600px;
  
    
}
.main-img img{
    width: 100%;
     height: 309px;
}
.catagory,.logo{
    
    padding: 0 30px;
}
.catagory ul {
    padding: 0 10px;
}
.catagory ul li{
    list-style: none;
}
.catagory ul li a{
    
}
.main-conten{
    
    padding: 0 10px;
}

#footer{
    background: #5c5e60;
    padding: 10px 0;
    margin-top: 50px;
}
#footer ul{
    padding-left: 25%;
}
#footer ul li{
    display: inline;
    border-right: 1px solid #ffffff;
   
}
#footer ul li a{
    padding: 0 20px;
    color: #ffffff;
}